In [2]:
# Dependencies
import pandas as pd
import geopandas as gpd
import json
import csv

In [6]:
#Filepaths
RE = "ZIP.csv"
CENSUS = "CENSUS.CSV"

In [21]:
#REM to DF
df_RE=pd.read_csv(RE, encoding="ISO-8859-1")
df_CEN=pd.read_csv(CENSUS, encoding="ISO-8859-1")

In [29]:
df_MM=pd.read_csv("Merge_Master.csv", encoding="ISO-8859-1")
df_MM

,zipcode,RegionType,StateName,City,Metro,CountyName,AVERAGE PRICE,Income per capita,Median Age Male,Median Age Male.1,Bachelor's degree > 25,Public transportation
0,602,Zip,AL,Auburn,Auburn-Opelika,Lee County,114105.2500,9277.0,41.9,42.8,0.134690,0.002796
1,606,Zip,MO,Neosho,Joplin,Newton County,59377.7500,5943.0,43.2,43.4,0.068866,0.000000
2,610,Zip,KY,Anasco,NaN,Pike County,108219.5833,10220.0,40.4,44.2,0.130349,0.002741
3,617,Zip,AL,Imbery,Enterprise,Coffee County,101022.0000,9122.0,39.2,41.0,0.157224,0.005154
4,693,Zip,PA,Greensburg,Pittsburgh,Westmoreland County,330761.5000,10536.0,39.2,41.9,0.148064,0.006750
...,...,...,...,...,...,...,...,...,...,...,...,...
29733,99827,Zip,AK,Haines,NaN,Haines Borough,211487.0000,33387.0,45.2,45.8,0.229525,0.002308
29734,99833,Zip,AK,Petersburg,NaN,Petersburg Borough,254642.9167,33227.0,39.3,42.7,0.219672,0.009211
29735,99835,Zip,AK,Sitka,NaN,Sitka Borough,402391.3333,38423.0,37.2,40.5,0.204494,0.010178
29736,99901,Zip,AK,Ketchikan,Ketchikan,Ketchikan Gateway Borough,294448.8333,34886.0,39.4,39.9,0.170142,0.035648
29737,99929,Zip,AK,Wrangell,NaN,Wrangell Borough,215225.5833,31489.0,51.6,48.3,0.140267,0.006635

In [31]:
df_MMM = df_MM.rename(columns={'Median Age Male.1':"Median Age Female"})
df_MMM
df_MMM.to_csv('Master.csv')

In [33]:
df_loc = df_MMM.loc[df_MMM['City'] == 'New York']
df_loc.to_csv('NYC.csv')

In [22]:
df_CEN_sort=df_CEN.sort_values("Zip Code", ascending=True)
df_CEN_sort
df_rename = df_CEN_sort.rename(columns={'Zip Code': 'zipcode'})
#df_CEN = df_rename.set_index("zipcode")
df_rename

,zipcode,Income per capita,Median Age Male,Median Age Male.1,Bachelor's degree > 25,Median Home Value,Public transportation
0,601,6999.0,39.5,41.3,0.150448,86200,0.000000
1,602,9277.0,41.9,42.8,0.134690,86300,0.002796
2,603,11307.0,39.1,42.9,0.171792,122400,0.002939
3,606,5943.0,43.2,43.4,0.068866,91600,0.000000
4,610,10220.0,40.4,44.2,0.130349,88600,0.002741
...,...,...,...,...,...,...,...
32804,99923,NaN,-666666666.0,-666666666.0,1.000000,-666666666,0.000000
32772,99925,25840.0,42.0,45.1,0.082426,174500,0.000000
32773,99926,22453.0,34.6,34.3,0.065751,143100,0.011472
32774,99927,13658.0,-666666666.0,-666666666.0,0.263158,272500,0.000000
32775,99929,31489.0,51.6,48.3,0.140267,212600,0.006635

In [23]:
df_RE_sort=df_RE.sort_values("RegionName", ascending=True)
df_RE_sort
df_rename1 = df_RE_sort.rename(columns={'RegionName': 'zipcode'})
#df_RE = df_rename1.set_index("zipcode")
df_rename1

,zipcode,RegionType,StateName,City,Metro,CountyName,AVERAGE PRICE,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018
0,501,Zip,NY,Holtsville,New York-Newark-Jersey City,Suffolk County,128202.91670,124748.0,125336.0,126278.0,126801.0,126947.0,126449.0,127587.0,129211,131062,130967,131519,131530
1,602,Zip,AL,Auburn,Auburn-Opelika,Lee County,114105.25000,112129.0,112848.0,113757.0,114042.0,114144.0,114101.0,114350.0,114344,114334,114470,115073,115671
2,605,Zip,AL,Aguadilla,Dothan,Houston County,78791.83333,75593.0,76089.0,76977.0,77262.0,77296.0,77990.0,78881.0,80303,80852,81376,81219,81664
3,606,Zip,MO,Neosho,Joplin,Newton County,59377.75000,57243.0,57585.0,58442.0,59490.0,59776.0,59712.0,59555.0,59933,60078,60010,60128,60581
4,610,Zip,KY,Anasco,NaN,Pike County,108219.58330,107145.0,106734.0,108301.0,109484.0,110187.0,109931.0,109701.0,109060,107987,107024,106520,106561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30232,99827,Zip,AK,Haines,NaN,Haines Borough,211487.00000,207805.0,207900.0,209804.0,211035.0,210392.0,210143.0,210841.0,212374,213942,214470,214271,214867
30233,99833,Zip,AK,Petersburg,NaN,Petersburg Borough,254642.91670,253935.0,255059.0,255276.0,256161.0,256645.0,255629.0,254575.0,253168,252685,252995,254266,255321
30234,99835,Zip,AK,Sitka,NaN,Sitka Borough,402391.33330,407298.0,404430.0,401848.0,401776.0,401763.0,401730.0,401644.0,402477,403016,401870,400742,400102
30235,99901,Zip,AK,Ketchikan,Ketchikan,Ketchikan Gateway Borough,294448.83330,292527.0,292906.0,293182.0,293505.0,293862.0,294677.0,295044.0,295148,295037,295172,295777,296549
30236,99929,Zip,AK,Wrangell,NaN,Wrangell Borough,215225.58330,214193.0,214075.0,214176.0,214133.0,214261.0,214264.0,214661.0,215163,215850,216509,217267,218155

In [25]:
#Merge
df_rename

,zipcode,Income per capita,Median Age Male,Median Age Male.1,Bachelor's degree > 25,Median Home Value,Public transportation,RegionType,StateName,City,...,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018
0,602,9277.0,41.9,42.8,0.134690,86300,0.002796,Zip,AL,Auburn,...,113757.0,114042.0,114144.0,114101.0,114350.0,114344,114334,114470,115073,115671
1,606,5943.0,43.2,43.4,0.068866,91600,0.000000,Zip,MO,Neosho,...,58442.0,59490.0,59776.0,59712.0,59555.0,59933,60078,60010,60128,60581
2,610,10220.0,40.4,44.2,0.130349,88600,0.002741,Zip,KY,Anasco,...,108301.0,109484.0,110187.0,109931.0,109701.0,109060,107987,107024,106520,106561
3,617,9122.0,39.2,41.0,0.157224,106100,0.005154,Zip,AL,Imbery,...,100276.0,100878.0,100607.0,100216.0,99808.0,100222,101195,102075,103022,103998
4,693,10536.0,39.2,41.9,0.148064,107300,0.006750,Zip,PA,Greensburg,...,332237.0,329352.0,321737.0,321298.0,322079.0,328332,332690,334721,335866,338157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29733,99827,33387.0,45.2,45.8,0.229525,256200,0.002308,Zip,AK,Haines,...,209804.0,211035.0,210392.0,210143.0,210841.0,212374,213942,214470,214271,214867
29734,99833,33227.0,39.3,42.7,0.219672,213100,0.009211,Zip,AK,Petersburg,...,255276.0,256161.0,256645.0,255629.0,254575.0,253168,252685,252995,254266,255321
29735,99835,38423.0,37.2,40.5,0.204494,349300,0.010178,Zip,AK,Sitka,...,401848.0,401776.0,401763.0,401730.0,401644.0,402477,403016,401870,400742,400102
29736,99901,34886.0,39.4,39.9,0.170142,272300,0.035648,Zip,AK,Ketchikan,...,293182.0,293505.0,293862.0,294677.0,295044.0,295148,295037,295172,295777,296549
29737,99929,31489.0,51.6,48.3,0.140267,212600,0.006635,Zip,AK,Wrangell,...,214176.0,214133.0,214261.0,214264.0,214661.0,215163,215850,216509,217267,218155

In [27]:
df.to_csv('Merge_Master.csv')

In [28]:
list(df.columns)

['zipcode',
 'Income per capita',
 'Median Age Male',
 'Median Age Male.1',
 "Bachelor's degree > 25",
 'Median Home Value',
 'Public transportation',
 'RegionType',
 'StateName',
 'City',
 'Metro',
 'CountyName',
 'AVERAGE  PRICE',
 '1/31/2018',
 '2/28/2018',
 '3/31/2018',
 '4/30/2018',
 '5/31/2018',
 '6/30/2018',
 '7/31/2018',
 '8/31/2018',
 '9/30/2018',
 '10/31/2018',
 '11/30/2018',
 '12/31/2018']

In [ ]:
#Change key Column to one label
#set index on that label
#pd.merge(df,df).to_file("master.geojson", driver='GeoJSON')