In [1]:
# Dependencies
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
# Read the data
data = pd.read_csv("data/cluster_predict.csv")
data

,zipcode,AVERAGE PRICE,Income per capita,Median Age Male,Median Age Female,Bachelor's degree > 25,Public transportation,clusters
0,602,114105.2500,9277.0,41.9,42.8,0.134690,0.002796,0
1,606,59377.7500,5943.0,43.2,43.4,0.068866,0.000000,0
2,610,108219.5833,10220.0,40.4,44.2,0.130349,0.002741,0
3,617,101022.0000,9122.0,39.2,41.0,0.157224,0.005154,0
4,693,330761.5000,10536.0,39.2,41.9,0.148064,0.006750,0
...,...,...,...,...,...,...,...,...
29423,99827,211487.0000,33387.0,45.2,45.8,0.229525,0.002308,0
29424,99833,254642.9167,33227.0,39.3,42.7,0.219672,0.009211,0
29425,99835,402391.3333,38423.0,37.2,40.5,0.204494,0.010178,0
29426,99901,294448.8333,34886.0,39.4,39.9,0.170142,0.035648,0
29427,99929,215225.5833,31489.0,51.6,48.3,0.140267,0.006635,0

In [3]:
# Define variables we based predictions on
x = data[['AVERAGE  PRICE','Income per capita', 'Median Age Male', 'Median Age Female',

       "Bachelor's degree > 25", 'Public transportation']]

In [4]:
# Define prediction variable - wat we are trying to predict
y = data['clusters']

In [5]:
# Split test and training data sets
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,random_state=1)

In [6]:
# Build model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [7]:
# Fit model using training data
classifier.fit(x_train, y_train)

LogisticRegression()

In [8]:
# Validate the model using the test data
print(f"Training Data Score: {classifier.score(x_train, y_train)}")
print(f"Testing Data Score: {classifier.score(x_test, y_test)}")

Training Data Score: 0.9487353755036653
Testing Data Score: 0.9493713897383622

In [9]:
predictions = classifier.predict(x_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
11779           0       0
2774            0       0
2182            0       4
8846            4       0
28642           0       0
...           ...     ...
3197            0       0
6950            0       0
18049           0       0
14677           0       0
24714           0       0

[8829 rows x 2 columns]

In [11]:
import pickle
pickle.dump(classifier, open('model.pickle', 'wb'))